{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MhsRoom - Landing Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{% static 'aplikasi_mhsroom/css/index.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        {% include 'navbar_awal.html' %}

        <main>
            <section class="hero">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="display-4">Selamat datang di MhsRoom</h1>
                            <p class="lead"></p>
                            <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Mari Mulai</a>
                        </div>
                        <div class="col-md-6">
                            <img src="{% static '#' %}" alt="MhsRoom" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </section>

            <section class="features">
                <div class="container">
                    <h2>Mengapa MhsRoom?</h2>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-item">
                                <h4>Terhubung dengan Teman</h4>
                                <p>Tetap terhubung dengan teman dan keluarga Anda, dan bagikan pembaruan dengan mereka dengan mudah.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <h4>Mengobrol dan Berinteraksi</h4>
                                <p>Mengobrol dengan teman Anda secara waktu nyata, dan terlibat dalam diskusi dan percakapan yang hidup.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <h4>Bagikan Foto dan Momen</h4>
                                <p>Bagikan momen spesial Anda dengan mengunggah dan berbagi foto ke jaringan Anda.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        {% include 'footer.html' %}

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
